code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0px;
}

.bd-callout code {
  border-radius: 0px;
}

.highlight {
	font-size: 0.7rem;
}

.container-fluid {
	padding-top: 5em;
}